@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 0 solid #e5e7eb;
}

body {
    padding: 24px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #243e63;
    text-decoration: inherit;
}

a:hover {
    color: #6415ff;
    transition: all 300ms ease;
}

.purple {
    color: #6415ff;
}


/*

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__logo-text {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    margin-right: 12px;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;

}

h1 {
    font-size: 48px;
    color: #1A202C;
    margin-bottom: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: #243e63;
    margin-bottom: 24px;
}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.025rem;
    padding: 0 24px;
    text-decoration: none;
}

a.nav__link:hover span {
    border-bottom: 3px solid #520fd8;
    padding-bottom: 3px;
    transition: all 100ms ease;
  }

.nav__link--primary {
    margin: 0 12px 0 28px;
}

.nav__link--secondary {
    padding: 12px 32px;
    border-radius: 32px;
    background-color: #6415ff;
    color: #f7fafc;
}

.nav__link--secondary:hover {
    color: #e5e7eb;
    background-color: #520fd8;
    text-decoration: none;
}

/*

HEADER

*/

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: none;
    text-align: left;
}

.wrapper__img {
    width: 60%;
}

.description__img {
    width: 100%;
}

.form {
    padding: 8px;
    max-width: 28rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid #E4E7EB;
    border-radius: 33px;
    padding-left: 2rem;
    margin-bottom: 24px;
}

.button__primary {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px 0;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    background-color: #6415ff;
    color: #f7fafc;
    cursor: pointer;
}

.customer__para {
    color: #ACAEC0;
    font-size: 12px;
    font-weight: 600;
    padding: 24px;
}

.img__customers {
    max-width: 100%;
}

/*

FEATURES

*/

.features__container {
    padding: 80px 0;
}

.feature__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__span {
    margin-bottom: 16px;
}

.feature__title {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

.feature__para {
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 16px;
    color: #7c8ba1;
}

/*

SERVICES

*/

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__img {
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ced3db;
    border-radius: 9999px;
    margin-bottom: 38px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #243e63
}