@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 0 solid #e5e7eb;
}

body {
    padding: 24px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #243e63;
}

/*

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__logo-text {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    text-decoration: none;
    margin-right: 12px;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;

}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.025rem;
    padding: 0 24px;
    text-decoration: none;
}

.nav__link--primary {
    margin: 0 12px 0 28px;
}